:root{
    --primary-color: #002447;

}

h1{
    font-family: 'Roboto Slab';
    color: var(--primary-color);
}

h2{
    font-family: 'Roboto Slab';
    color: var(--primary-color);
}

p{
    font-family: Roboto;
    color: black;
}